- name: Installing and starting Nginx
  hosts: web
  become: yes
  tasks:
  - name: Install Nginx
    ansible.builtin.package:
      name: nginx
      state: present

  - name: Start and Enable nginx
    ansible.builtin.service:
      name: nginx
      state: started
      enabled: yes
      

